h1 {
   font-family: "Archivo Narrow", sans-serif;
   color: $color-dark-grey;
   font-size: 30px;
   padding: 15px;
   margin: 20px;
}

p {
   font-family: "Open Sans", sans-serif;
   margin: 5px;
}
